# Dependências de Produção (já instaladas, mas bom ter para referência)
apache-airflow==3.1.0 # Use a versão exata que aparece no seu ambiente

# Dependências de Teste (Pytest e Plugins)
pytest
pytest-mock        # Essencial para simular Conexões, Hooks e Operadores
pytest-helpers-namespace # Útil para adicionar helpers/fixtures customizados
pytest-cov         # (Opcional, mas recomendado para relatórios de cobertura)